<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE"
        tools:ignore="ProtectedPermissions"
        xmlns:tools="http://schemas.android.com/tools" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_assistant"
        android:allowBackup="true">

        <!-- Không có activity/launcher -> app không hiện icon ở màn hình chính,
             chỉ tồn tại dưới dạng tile trong Quick Settings. -->

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <service
            android:name=".AssistantTileService"
            android:label="@string/tile_label"
            android:icon="@drawable/ic_assistant"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <!-- Tile hiện ngay trong danh sách "Chỉnh sửa" của Quick Settings -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="false" />
        </service>

    </application>

</manifest>
